{% extends "admin_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin_list_challenges.css') }}">
{% endblock %}
<script>
    function confirmDelete() {
    return confirm("Are you sure you want to delete this challenge?");
}

</script>
{% block content %}
<div class="container-challenges mt-4">
    <h1>Manage Challenges</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Topic</th>
                <th>Question</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>{{ challenge.topic.name }}</td>
                <td>{{ challenge.content }}</td>
                <td>
                    <!-- Nút Edit -->
                    <a href="{{ url_for('admin.edit_challenge', challenge_id=challenge.id) }}" class="btn btn-warning btn-sm">Edit</a>
                    <!-- Nút Delete -->
                    <form method="POST" action="{{ url_for('admin.delete_challenge', challenge_id=challenge.id) }}" style="display: inline;" onsubmit="return confirmDelete();">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
